src/main/mule/batch-job-assignment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="batch-job-assignmentFlow" doc:id="80f8c11d-3a45-4c04-a83f-6e02203b6382" >
		<http:listener doc:name="Listener" doc:id="01e8821f-e96d-4155-a7aa-ba0e6a942167" config-ref="HTTP_Listener_config" path="batchassignment"/>
		<file:read doc:name="Read UserData" doc:id="1310584a-674a-4a53-9d86-f611b51cafaf" path="C:\Users\alise\OneDrive\Desktop\data_Mike\Data\UserData.csv" config-ref="File_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="673a008e-c67e-44db-9d5a-9412c6ad4bb3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="batch-job-assignmentBatch_Job" doc:id="70273ffe-4d9a-4345-ab6d-4d64790a32e7" maxFailedRecords="-1">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="09621936-0a5b-4821-9d3c-531fa1b1bdda" acceptPolicy="ALL">
					<db:insert doc:name="Insert" doc:id="6667d936-19df-41be-bfad-1a6bb14826b3" config-ref="Database_Config">
						<db:sql ><![CDATA[INSERT INTO user_data.users(first_name,last_name,email,title,phone) 
VALUES(:first_name, :last_name, :email, :title, :phone);]]></db:sql>
						<db:input-parameters ><![CDATA[#[{
    first_name:payload.first_name,
	last_name: payload.last_name,
	email: payload.email,
	title: payload.title,
	phone:payload.phone
   }]]]></db:input-parameters>
					</db:insert>
					<logger level="INFO" doc:name="Logger" doc:id="17f41d8b-ed62-49bc-bc6e-62ce286f2d3c" message="#[payload]"/>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="0fe255d2-dd02-4f5b-bbd1-a452c6aaa1fc" message="Batch insert done successfully."/>
			</batch:on-complete>
		</batch:job>
		<set-payload value="Done!" doc:name="Set Payload" doc:id="d3b25648-0acf-4889-8364-bb016099fd42" />
	</flow>
</mule>
